<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Incluez d'abord le reste de votre code dans le fichier head -->
    <script src="https://unpkg.com/htmx.org@latest/dist/htmx.js"></script>

    <title>MyPortfolio</title>
    <!-- Incluez ici vos liens vers les fichiers CSS et tout autre élément du head -->
</head>
<body>
    <div id="contenu">
        {% block contenu %}
        {% endblock %}
    </div>
    <!-- Incluez ici vos scripts JS, y compris le script htmx -->
</body>
</html>
